

// the actual implentations should all be in the component scss module files (or tw if possible)!

.bannerPrimary {
    background-color: rgba(var(--bannerPrimary), 1);
  }
  
  .bannerFi {
    color: rgba(var(--bannerFi))
  }
  
  .bannerSecondary {
    color: rgba(var(--bannerSecondary))
  }
  
  .flex {
    display: flex;
  }
  
  .bannerPrimary50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary50))
  }
  .bannerPrimary100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary100))
  }
  .bannerPrimary200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary200))
  }
  .bannerPrimary300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary300))
  }
  .bannerPrimary400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary400))
  }
  .bannerPrimary500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary500))
  }
  .bannerPrimary600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary600))
  }
  .bannerPrimary700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary700))
  }
  .bannerPrimary800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary800))
  }
  .bannerPrimary900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary900))
  }
  
  
  .bannerSecondary50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary50))
  }
  .bannerSecondary100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary100))
  }
  .bannerSecondary200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary200))
  }
  .bannerSecondary300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary300))
  }
  .bannerSecondary400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary400))
  }
  .bannerSecondary500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary500))
  }
  .bannerSecondary600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary600))
  }
  .bannerSecondary700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary700))
  }
  .bannerSecondary800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary800))
  }
  .bannerSecondary900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary900))
  }
  
  
  .bannerFi50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi50))
  }
  .bannerFi100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi100))
  }
  .bannerFi200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi200))
  }
  .bannerFi300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi300))
  }
  .bannerFi400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi400))
  }
  .bannerFi500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi500))
  }
  .bannerFi600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi600))
  }
  .bannerFi700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi700))
  }
  .bannerFi800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi800))
  }
  .bannerFi900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi900))
  }
  
  .iconButton {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    padding: 8px;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgba(var(--bannerPrimary), 1);
    border-radius: 0.375rem;
  }
  
  .iconShadowOg {
    box-shadow: 1px 1px 1px #00000029, -1px -1px 1px #FFFFFF47;
  }
  
  .iconShadowTheme {
    box-shadow: 1px 1px 1px rgb(var(--bannerPrimary700)), -1px -1px 1px rgba(var(--bannerPrimary400));
  }
  
  .iconButton:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: rgba(var(--bannerPrimary), 1);
    cursor: pointer;
  }
  
  .iconButton:active {
    outline: none;
    border: none;
    background-color: rgba(var(--bannerPrimary), .75);
  }
  
  .iconButton:focus {
    outline: 0;
    background-color: rgba(var(--bannerPrimary), .75);
  }
  
  .p3 {
    margin-top: 5px;
    padding: 12px;
    background-color: rgba(var(--bannerPrimary), 1);
  }
  
  .svg {
    width: 12px;
    height: 12px;
  }