

// the actual implentations should all be in the component scss module files (or tw if possible)!

.bannerPrimary {
    background-color: rgba(var(--bannerPrimary), 1);
  }
  
  .bannerFi {
    color: rgba(var(--bannerFi))
  }
  
  .bannerSecondary {
    color: rgba(var(--bannerSecondary))
  }
  
  .flex {
    display: flex;
  }
  
  .bannerPrimary50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary50))
  }
  .bannerPrimary100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary100))
  }
  .bannerPrimary200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary200))
  }
  .bannerPrimary300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary300))
  }
  .bannerPrimary400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary400))
  }
  .bannerPrimary500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary500))
  }
  .bannerPrimary600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary600))
  }
  .bannerPrimary700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary700))
  }
  .bannerPrimary800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary800))
  }
  .bannerPrimary900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerPrimary900))
  }
  
  
  .bannerSecondary50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary50))
  }
  .bannerSecondary100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary100))
  }
  .bannerSecondary200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary200))
  }
  .bannerSecondary300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary300))
  }
  .bannerSecondary400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary400))
  }
  .bannerSecondary500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary500))
  }
  .bannerSecondary600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary600))
  }
  .bannerSecondary700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary700))
  }
  .bannerSecondary800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary800))
  }
  .bannerSecondary900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerSecondary900))
  }
  
  
  .bannerFi50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi50))
  }
  .bannerFi100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi100))
  }
  .bannerFi200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi200))
  }
  .bannerFi300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi300))
  }
  .bannerFi400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi400))
  }
  .bannerFi500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi500))
  }
  .bannerFi600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi600))
  }
  .bannerFi700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi700))
  }
  .bannerFi800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi800))
  }
  .bannerFi900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--bannerFi900))
  }
  

  .hyperlink50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink50))
  }
  .hyperlink100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink100))
  }
  .hyperlink200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink200))
  }
  .hyperlink300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink300))
  }
  .hyperlink400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink400))
  }
  .hyperlink500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink500))
  }
  .hyperlink600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink600))
  }
  .hyperlink700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink700))
  }
  .hyperlink800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink800))
  }
  .hyperlink900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--hyperlink900))
  }

  
  .accentBg50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg50))
  }
  .accentBg100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg100))
  }
  .accentBg200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg200))
  }
  .accentBg300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg300))
  }
  .accentBg400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg400))
  }
  .accentBg500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg500))
  }
  .accentBg600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg600))
  }
  .accentBg700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg700))
  }
  .accentBg800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg800))
  }
  .accentBg900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentBg900))
  }

  .accentFi50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi50))
  }
  .accentFi100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi100))
  }
  .accentFi200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi200))
  }
  .accentFi300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi300))
  }
  .accentFi400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi400))
  }
  .accentFi500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi500))
  }
  .accentFi600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi600))
  }
  .accentFi700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi700))
  }
  .accentFi800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi800))
  }
  .accentFi900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--accentFi900))
  }

  
  .contentPrimaryBg50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg50))
  }
  .contentPrimaryBg100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg100))
  }
  .contentPrimaryBg200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg200))
  }
  .contentPrimaryBg300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg300))
  }
  .contentPrimaryBg400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg400))
  }
  .contentPrimaryBg500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg500))
  }
  .contentPrimaryBg600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg600))
  }
  .contentPrimaryBg700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg700))
  }
  .contentPrimaryBg800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg800))
  }
  .contentPrimaryBg900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryBg900))
  }


  
  .contentSecondaryBg50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg50))
  }
  .contentSecondaryBg100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg100))
  }
  .contentSecondaryBg200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg200))
  }
  .contentSecondaryBg300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg300))
  }
  .contentSecondaryBg400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg400))
  }
  .contentSecondaryBg500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg500))
  }
  .contentSecondaryBg600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg600))
  }
  .contentSecondaryBg700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg700))
  }
  .contentSecondaryBg800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg800))
  }
  .contentSecondaryBg900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryBg900))
  }
  
  .contentPrimaryFi50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi50))
  }
  .contentPrimaryFi100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi100))
  }
  .contentPrimaryFi200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi200))
  }
  .contentPrimaryFi300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi300))
  }
  .contentPrimaryFi400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi400))
  }
  .contentPrimaryFi500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi500))
  }
  .contentPrimaryFi600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi600))
  }
  .contentPrimaryFi700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi700))
  }
  .contentPrimaryFi800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi800))
  }
  .contentPrimaryFi900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentPrimaryFi900))
  }


  
  
  .contentSecondaryFi50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi50))
  }
  .contentSecondaryFi100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi100))
  }
  .contentSecondaryFi200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi200))
  }
  .contentSecondaryFi300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi300))
  }
  .contentSecondaryFi400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi400))
  }
  .contentSecondaryFi500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi500))
  }
  .contentSecondaryFi600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi600))
  }
  .contentSecondaryFi700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi700))
  }
  .contentSecondaryFi800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi800))
  }
  .contentSecondaryFi900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--contentSecondaryFi900))
  }

  
  
  .selectedBg50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg50))
  }
  .selectedBg100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg100))
  }
  .selectedBg200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg200))
  }
  .selectedBg300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg300))
  }
  .selectedBg400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg400))
  }
  .selectedBg500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg500))
  }
  .selectedBg600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg600))
  }
  .selectedBg700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg700))
  }
  .selectedBg800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg800))
  }
  .selectedBg900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--selectedBg900))
  }

  .iconButton {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    padding: 8px;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgba(var(--bannerPrimary), 1);
    border-radius: 0.375rem;
  }
  
  .iconShadowOg {
    box-shadow: 1px 1px 1px #00000029, -1px -1px 1px #FFFFFF47;
  }
  
  .iconShadowTheme {
    box-shadow: 1px 1px 1px rgb(var(--bannerPrimary700)), -1px -1px 1px rgba(var(--bannerPrimary400));
  }
  
  .iconButton:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: rgba(var(--bannerPrimary), 1);
    cursor: pointer;
  }
  
  .iconButton:active {
    outline: none;
    border: none;
    background-color: rgba(var(--bannerPrimary), .75);
  }
  
  .iconButton:focus {
    outline: 0;
    background-color: rgba(var(--bannerPrimary), .75);
  }
  
  .p3 {
    margin-top: 5px;
    padding: 12px;
    background-color: rgba(var(--bannerPrimary), 1);
  }
  
  .svg {
    width: 12px;
    height: 12px;
  }