

// the actual implentations should all be in the component scss module files (or tw if possible)!

.navBg {
    background-color: rgba(var(--navBg), 1);
  }
  
  .navFi {
    color: rgba(var(--navFi))
  }
  
  .navContent {
    color: rgba(var(--navContent))
  }
  
  .flex {
    display: flex;
  }
  
  .navBg50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg50))
  }
  .navBg100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg100))
  }
  .navBg200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg200))
  }
  .navBg300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg300))
  }
  .navBg400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg400))
  }
  .navBg500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg500))
  }
  .navBg600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg600))
  }
  .navBg700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg700))
  }
  .navBg800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg800))
  }
  .navBg900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navBg900))
  }
  
  
  .navContent50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent50))
  }
  .navContent100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent100))
  }
  .navContent200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent200))
  }
  .navContent300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent300))
  }
  .navContent400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent400))
  }
  .navContent500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent500))
  }
  .navContent600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent600))
  }
  .navContent700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent700))
  }
  .navContent800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent800))
  }
  .navContent900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navContent900))
  }
  
  
  .navFi50 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi50))
  }
  .navFi100 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi100))
  }
  .navFi200 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi200))
  }
  .navFi300 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi300))
  }
  .navFi400 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi400))
  }
  .navFi500 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi500))
  }
  .navFi600 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi600))
  }
  .navFi700 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi700))
  }
  .navFi800 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi800))
  }
  .navFi900 {
    width: 50px;
    height: 50px;
    background-color: rgba(var(--navFi900))
  }
  
  .iconButton {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    padding: 8px;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgba(var(--navBg), 1);
    border-radius: 0.375rem;
  }
  
  .iconShadowOg {
    box-shadow: 1px 1px 1px #00000029, -1px -1px 1px #FFFFFF47;
  }
  
  .iconShadowTheme {
    box-shadow: 1px 1px 1px rgb(var(--navBg700)), -1px -1px 1px rgba(var(--navBg400));
  }
  
  .iconButton:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    background-color: rgba(var(--navBg), 1);
    cursor: pointer;
  }
  
  .iconButton:active {
    outline: none;
    border: none;
    background-color: rgba(var(--navBg), .75);
  }
  
  .iconButton:focus {
    outline: 0;
    background-color: rgba(var(--navBg), .75);
  }
  
  .p3 {
    margin-top: 5px;
    padding: 12px;
    background-color: rgba(var(--navBg), 1);
  }
  
  .svg {
    width: 12px;
    height: 12px;
  }