:root {
  // themable
  --bannerBg: #105270;
  --bannerFi: #fff;
  --bannerContent: #00A694;

  // calculated


  // static

}

.bannerBg {
  background-color: var(--bannerBg)
}

.bannerFi {
  color: var(--bannerFi)
}

.bannerContent {
  color: var(--bannerContent)
}